.background-orange {
    -fx-background-color: #FFA500;
}

.background-grey {
    -fx-background-color: #DCDCDC;
}

.button-home {
    -fx-background-color: Transparent;
}

.button-home:hover {
    -fx-background-color: #FF8C00;
}

.button-nav{
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-color:transparent;
	-fx-border-radius:0.0 ;
}

.button-nav:hover{
	-fx-cursor: hand;
	-fx-border-color:black;
	-fx-background-color:black; 
	-fx-faint-focus-color: black;
	-fx-text-fill:white ;
}

.button-nav:focused {
    
}